@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0763ff;
    --primary-hover: #5079f9;
    --dark-blue: #00234b;
    --secondary: #fff;
    --dark-gray: #e4e8ec;
    --purple-blue: #3d1b7e;
    --dark-navy: #00234b;
    --tropical-teal: #23927e;
    --electric-azure: #1260fd;
    --neon-lime: #cdf800;
    --deep-indigo: #160f50;
    --cool-violet: #5d60dc;
    --golden-yellow: #fcc806;
    --sky-blue: #50bbe9;
    --vivid-purple: #5a05ff;
    --light-pink: #ffe8e0;
    --soft-red: #fd6161;
    --vibrant-purple: #5a05ff;
    --payroll: #00b568;
    --payroll-light: #00b568;
    --employer-of-record: rgb(5, 100, 255);
    --hr-management: #ff817b;
    --contractor-management: #00b568;
    --remote-talent: #e03d5c;
    --remote-apis: #5a05ff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.carousel-container {
  overflow: hidden;
}

.carousel-item {
  display: flex;
  justify-content: center;
}

svg path {
  transition: fill 0.5s ease, stroke 0.5s ease;
}
